.tablaAnalistasContainer {
  margin: 1rem;
  border: 1px solid red;
  text-align: center;

  border: 2px ridge hsla(198, 100%, 43%, 0.5);
  border-radius: 1rem;
  overflow-x: auto;
  transition: 1s all;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #0b7cc1;
      color: #ffffff;

      th {
        border-bottom: 2px solid hsla(198, 100%, 43%, 0.5);
      }
    }

    tbody {
      tr:nth-child(2n) {
        background-color: hsla(198, 100%, 43%, 0.25);
      }
    }
  }
}

.tableLoading {
  display: flex;
  justify-content: center;
  width: 100%;

  td {
    display: flex;
    justify-content: center;
  }
}
