.navList {
  display: flex;
  height: 3rem;
  list-style-type: none;
}

.navList li {
  display: flex;
  align-items: center;
}

.navList > li > a {
  text-decoration: none;
  cursor: pointer;
  width: 5.25rem;
  transition: all 0.15s;
  color: white;
}

.navList > li > a:hover {
  font-weight: bold;
}

.onPage {
  text-decoration: 1px underline aliceblue;
}

@media screen and (max-width: 864px) {
  .navList {
    gap: 0rem;
    width: auto;
  }

  .navList > li > a {
    font-size: 0.9rem;
  }
}
