.logo {
  max-height: 100%;
}

.logo img {
  object-fit: cover;
  max-height: inherit;
  margin-right: 0.5rem;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.logot {
  image-rendering: pixelated;
}

@media screen and (max-width: 864px) {
  .logot {
    height: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .logot {
    display: none;
  }
}
